{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container mt-5 text-center">
  <h1>Calorie Tracker</h1>
  <h2>Calories Today: {{daily_calories[0].daily_calories | default(0, true)}}</h2>
  <h2>Calories Last 7 Days: {{weekly_calories[0].weekly_calories | default(0, true)}}</h2>
  <h3>Calorie Goal: {{session.calorie_goal}}</h3>
  <div
    class="progress"
    role="progressbar"
    aria-label="Animated striped example"
    aria-valuenow="75"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      style="width: {{((daily_calories[0].daily_calories | default(0, true)) / session.calorie_goal) * 100}}%"
    ></div>
  </div>
  <p>{{(daily_calories[0].daily_calories | default(0, true)) + (1)}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Consumed Grams</th>
        <th scope="col">Consumed Calories</th>
        <th scope="col">kcal/100</th>
        <th scope="col">Date</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for food in foods %}
      <tr>
        <td>{{food.name}}</td>
        <td>{{food.grams}}</td>
        <td>{{food.consumed_calories}}</td>
        <td>{{food.product_calories}}</td>
        <td>{{food.created_at}}</td>
        <td>
          <form action="/delete_entry" method="POST">
            <input type="hidden" name="entry_id" value="{{ food.id }}" required />
            <input type="hidden" name="next" value="/" />
            <button type="submit" class="btn btn-primary">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
</div>
