{% extends "layout.html" %} {% block title %}Anmelden{% endblock %} {% block content %}
<form action="/login" method="POST" class="container py-4">
  <div class="row g-3">
    <div class="col-12">
      <input
        type="email"
        class="form-control"
        placeholder="E-Mail"
        aria-label="E-Mail"
        name="email"
        required
      />
    </div>
    <div class="col-12">
      <input
        type="password"
        class="form-control"
        placeholder="Passwort"
        aria-label="Passwort"
        name="password"
        required
      />
    </div>
    <div class="col-12 d-grid">
      <button type="submit" class="btn btn-primary">Anmelden</button>
    </div>
  </div>
  <a href="/register">Noch kein Konto? Hier registrieren</a>
</form>
{% endblock %}
