{% extends "layout.html"%} {% block titel %} {% endblock %} {% block content %}
<form action="/preference" method="post" class="">
  <label for="dateSearchInput" class="form-label">Define Calorie Goal</label>
  <div class="containerr-sm text-center">
    <div class="row row-cols-sm-2">
      <div class="col-sm mb-3">
        <input
          id="dateSearchInput"
          name="daily_calorie_goal"
          type="number"
          class="form-control mb-sm-3 pb-3 pt-3 text-center"
          placeholder="{{session.calorie_goal}}"
          required
        />
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-primary form-control pb-3 pt-3 text-center mb-5">
          Save Preference
        </button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
