{% extends "layout.html" %} {% block title %}Test{% endblock %} {% block content %}
    <h1 class="text-center mb-5">Cool Test Page</h1>
    <form>
        <div class="container-sm text-center">
            <div class="row row-cols-sm-2">
                <div class="col-sm">
                    <input type="text" class="form-control mb-sm-3" placeholder="Freeway Iso Sport"/>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-primary form-control">Cooler Button</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
